

@using BussinessLogic.Service


<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" />
<div class="box box-success notification-box">
    <div class="box-header with-border">
        <h3 class="box-title">Notification</h3>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
        </div><!-- /.box-tools -->
    </div>
    <div class="container" style="margin-top:10px;">
        <div class="col-md-12">
            <div class="row">

                <div class="col-md-4">
                    <label class="container">Collection Amount @Html.RadioButton("Notification", "CollectionAmount", true, new { @onclick = "loadPartial('/Notification/CollectionAmount')" })<span class="checkmark"></span></label>
                </div>
                <div class="col-md-4">
                    <label class="container">  Collection Waste Edit @Html.RadioButton("Notification", "CollectionWasteEdit", new { @onclick = "loadPartial('/Notification/CollectionWasteEdit')" })<span class="checkmark"></span></label>
                </div>
                <div class="col-md-4">
                    <label class="container">
                        General Message  @Html.RadioButton("Notification", "GeneralMessgae", new { @onclick = "loadPartial('/Notification/GeneralMessage')" }) <span class="checkmark"></span>
                    </label>
                </div>

            </div>
        </div>
    </div>

    <div class="import-notification">

        @{Html.RenderAction("CollectionAmount", "Notification");}

    </div>
</div>
<link href="~/Content/select2.css" rel="stylesheet" />
<link href="~/Content/ch-dialog.css" rel="stylesheet" />
<script src="~/Scripts/jquery-message-box.js"></script>
<script src="~/Scripts/typeahead.min.js"></script>
<script src="~/Scripts/select2.js"></script>


<script src="~/Scripts/ch-dialog.js"></script>
<style>
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }

    .ui-menu .ui-menu-item {
        padding: 0em 1.5em;
        width: 220px;
        clear: both;
    }

    .Products {
        width: 220px;
    }

    .People {
        width: 220px;
    }
</style>

<script>


    function loadPartial(url) {

        var container = $(".notification-box").find('.import-notification');

        $.get(url, function (response) {



            //Dropzone.autoDiscover = false;
            //$("div#dropzone-form").dropzone({ url:url });

            $(container).html(response);
        });



    }


    //    $('.notification-main').on('click', '.btn-send-notification', function () {
    //        debugger;

    //        //var check = $('#IsChecked').find('input[type=checkbox]:checked').length;
    //        //alert(check);

    //    var LocationName = $('.notification-main').find('#LocationName').val();

    //    var collectorname = $('#info').find('option:selected').text();
    //    var Textarea = $('#Textarea').val()
    //    $.ajax({
    //        url: "/Notification/Pushpush",
    //        type: 'post',
    //        data: {_topic: LocationName,  Textarea: Textarea, collectorname: collectorname},

    //        dataType: 'json',

    //       // async: false,
    //        success: function (result) {
    //            debugger

    //            if (result.Successful ==false) {
    //        ErrorAlert(result.Response, 5000);
    //                return false;
    //                //document.getElementById('alert-success').scrollIntoView();
    //            }
    //            else {
    //        SuccessAlert("Notification sent Successfully", 5000);
    //                document.getElementById('alert-success').scrollIntoView();
    //            }
    //           // $('section.content').html(data);

    //        },
    //        error: function (result) {
    //        ErrorAlert(result.Response, 5000);
    //            document.getElementById('alert-success').scrollIntoView();
    //        }
    //    })



    //})








</script>
