

@using PagedList
@using BussinessLogic.Service
@using BussinessLogic.CustomHelper
@using ChannakyaCustomeDatePicker.Helper
@model BuisnessObject.ViewModel.MainViewModel.SubscriberDueViewModel

<div class="box box-success" style="border-top-color: #8ce8be;border-top:2px solid #8ce8be">
    <div class="box-header with-border">
        <legend style="font-size:16px;font-weight:bold">Subscription Due Report</legend>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>

        </div><!-- /.box-tools -->
        <div class="sus-due-div-list">
            <div class="col-md-12">
                <div class="box-tools col-md-4  form-group" id="Location">
                    @Html.TextBox("Location", "", htmlAttributes: new { @class = "form-control", @id = "LocationName", @placeholder = "Location" })
                </div>
         
                <div class="col-md-4  form-group" id="CollectionDate">
                    <an-date-picker is-input></an-date-picker>

                </div>
              
                <div class="input-group-btn form-group col-md-1 pull-left">
                    <button type="button" id="searchDueSubscription" class="btn btn-search-due-Subscription btn-success" data-toggle="tooltip" title="Search"><i class="fa fa-search"></i></button>
                    @*<button type="button" class="btn btn-outline-success customer-export-to-excel">Success</button>*@
                </div>
            </div>
            <button type="button" class="btn btn-success subscription-due-export-to-excel pull-right" title="Export to Excel" data-toggle="tooltip">Export to Excel</button>
            <div class="Subscription-Due-List">


               

                @Html.Partial("_SubscriptionDueReportList", Model)




            </div>
        </div>
    </div>
</div>

<link href="~/Scripts/DatePicker/DatePicker.css" rel="stylesheet" />
<script src="~/Scripts/DatePicker/Channakya-DatePicker.js"></script>
<script src="~/Scripts/SuscrptionJs/CustomerSearch.js"></script>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<script src="~/Scripts/SuscrptionJs/SuscriptionPage.js"></script>



<script>
    $('.subscription-due-export-to-excel').on('click', function () {
        debugger;
        var parentContainer = $(this).parents()


        var me = $(this);
        var Location = parentContainer.find("#Location").find("#LocationName").val();
       

        var tillDate = parentContainer.find("#CollectionDate").find('an-date-picker').get()[0].dateADWithTime;

        var container = parentContainer.find("div.sus-due-page-list")
        window.open("/Report/SubscriptionDueExportToExcel?tillDate=" + tillDate + "&Location=" + Location );

    });
    $("div.sus-due-page-list").on('click', 'input.btnPaging', function (e) {
        debugger;
        e.stopImmediatePropagation();
        var parentContainer = $(this).parents()

        var me = $(this);

        var Location = parentContainer.find("#Location").find("#LocationName").val();

        var tillDate = parentContainer.find("#CollectionDate").find('an-date-picker').get()[0].dateADWithTime;

        var container = parentContainer.find("div.sus-due-page-list")
        var url = "?tillDate=" + tillDate + "&Location=" + Location ;
        getPageNumberBtnAction(url, container, me)

    });
    $("div.sus-due-page-list").on('change', 'input#pageNo', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()
        var me = $(this);


        var Location = parentContainer.find("#Location").find("#LocationName").val();

        var tillDate = parentContainer.find("#CollectionDate").find('an-date-picker').get()[0].dateADWithTime;

        var container = parentContainer.find("div.sus-due-page-list")
        var url = "?tillDate=" + tillDate + "&Location=" + Location;
        getPageNumberChangeData(url, container, me)
    });
    $("div.sus-due-page-list").on('change', 'input#pageSize', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()

        var me = $(this);


        var Location = parentContainer.find("#Location").find("#LocationName").val();

        var tillDate = parentContainer.find("#CollectionDate").find('an-date-picker').get()[0].dateADWithTime;

        var container = parentContainer.find("div.sus-due-page-list")
        var url = "?tillDate=" + tillDate + "&Location=" + Location;
        getPageSizeChangeData(url, container, me)
    });

    $(".sus-due-div-list").on('click', '.btn-search-due-Subscription', function (e) {
        e.stopImmediatePropagation();
        debugger;
        var parentContainer = $(this).parents()

        var me = $(this);


        var Location = parentContainer.find("#Location").find("#LocationName").val();

        var tillDate = parentContainer.find("#CollectionDate").find('an-date-picker').get()[0].dateADWithTime;

        var container = parentContainer.find("div.sus-due-page-list")
        //var accNumber=parentContainer.find('#search-accountNumber').find('#txtaccountNumber').val();

        $.ajax({
            contentType: "html",
            type: "Get",
            url: "/Report/_SubscriptionDueReportList",
            data: { tillDate: tillDate, Location: Location },
            success: function (data) {
                $(".Subscription-Due-List").html("");
                $(".Subscription-Due-List").html(data);
            }
        })
    });


</script>

















